---
name: Linting (Markdown)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      # only run these if markdown files are updated
    paths:
      - "**.md"
      - "**.MD"

jobs:
  markdownlint:
    name: Run markdownlint against markdown files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: Dockerfile
          ignore: DL3008
