---
name: Linting (Shellcheck)

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  shellcheck:
    name: Run shellcheck against shell scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          additional_files: "run finish"
